.contact-section {
  display: flex;
  color: #ffffff;
  background: linear-gradient(
      to right,
      rgba(93, 17, 41, 0.5),
      rgba(21, 14, 36, 1)
    ),
    url("../../assets/freestocks.jpg") no-repeat;
  background-size: cover;
  height: 310px;
  width: 100%;
}

.contact-section__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 77px;
}

.contact-section__header {
  display: flex;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  justify-content: center;
}

.contact-section__form {
  display: flex;
}

.contact-section__form--input {
  color: #ffffff;
  background: transparent;
  padding: 12px 22px;
  font-size: 15px;
  font-weight: 100;
  border: solid 1px #ffffff;
  border-radius: 4px;
  margin-top: 12px;
  margin-right: 25px;
}

.contact-section__form--input::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-section__form--input:focus {
  outline: none;
}

.contact-section__form--btn {
  align-items: center;
  justify-content: center;
  display: flex;
  background: #ffffff;
  border-radius: 4px;
  color: rgba(101, 101, 101, 1);
  width: 213px;
  font-size: 15px;
  height: 43px;
  margin-top: 12px;
}

@media screen and (max-width: 1200px) {
  .contact-section__form {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .contact-section {
    height: unset;
    padding-bottom: 40px;
  }
}
