.about-section {
  display: flex;
  background: rgba(240, 240, 240, 1);
  height: 800px;
  flex-direction: column;
}

.about-section__content {
  display: flex;
  flex-direction: row;
}

.about-section__content--img {
  display: flex;
  height: 492px;
  width: 80%;
}

.about-section__content--avatar {
  display: flex;
  height: 100%;
  width: 100%;
}

.about-section__content--info {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 0 0 40px;
}

/* cards */

.numbered-cards {
  display: flex;
  width: 100%;
}

.numbered-card {
  display: flex;
  height: 45px;
  width: 192px;
  margin-right: 45px;
}

.numbered {
  display: flex;
  color: #fff;
  background: #e92343;
  width: 55px;
  align-items: center;
  justify-content: center;
}

.numbered-service {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(156, 157, 157, 1);
  line-height: 22px;
  width: 70%;
  font-weight: 400;
  font-size: 15px;
}
