/* Selects each and every element in the page */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

body {
  box-sizing: border-box;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 10px !important;
}

.u-margin-bottom-medium {
  margin-bottom: 30px !important;
}

.u-margin-bottom-big {
  margin-bottom: 55px !important;
}

.u-margin-top-small {
  margin-top: 10px !important;
}

.u-margin-top-medium {
  margin-top: 30px !important;
}

.u-margin-top-big {
  margin-top: 55px !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.container {
  max-width: 40rem;
  margin: 0px auto;
  padding: 0 1.6rem;
}

.button,
.button:visited,
.button::after {
  background: transparent;
  color: #ffffff;
  font-weight: 700;

  height: 35px;
  width: 100px;
  border: 1px solid #ffffff;

  border-radius: 5px;
}

.button:focus,
.button:active {
  border: 1px solid #ffffff;
  outline: none;
}

.btn-about {
  display: flex;
  color: #ffffff;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.btn-yellow {
  background: rgba(252, 187, 44, 1);
  font-weight: 500;
}

.btn-business,
.btn-business::after {
  background: transparent;
  color: rgba(101, 101, 101, 0.8);
  font-weight: 700;

  height: 35px;
  width: 100px;
  border: solid 1px rgba(101, 101, 101, 0.4);
  transition: background 0.3s;
}

.btn-business:hover {
  border: none;
  color: #ffffff;
  background: rgba(252, 187, 44, 1);
}

.btn-business:focus {
  outline: none;
}

.to-white {
  color: #ffffff !important;
}
