/* Selects each and every element in the page */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

body {
  box-sizing: border-box;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 10px !important;
}

.u-margin-bottom-medium {
  margin-bottom: 30px !important;
}

.u-margin-bottom-big {
  margin-bottom: 55px !important;
}

.u-margin-top-small {
  margin-top: 15px !important;
}

.u-margin-top-big {
  margin-top: 55px !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.container {
  margin: 0 auto;
  width: 70%;
  padding: 0 1.6rem;
}

.button,
.button:visited {
  background: transparent;
  color: #ffffff;
  font-weight: 700;

  height: 35px;
  width: 100px;
  border-radius: 5px;
}

.btn-yellow {
  background: rgba(252, 187, 44, 1);
  font-weight: 500;
}
