.news-section {
  display: flex;
  height: 610px;
}

.news-section__cards {
  display: flex;
  justify-content: space-between;
}

.news-section__dots--container {
  display: flex;
  justify-content: center;
}

.news-section__dots {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.news-section__dots-1 {
  height: 7px;
  width: 6px;
  background: #e92343;
  border-radius: 3px;
}

.news-section__dots-2 {
  height: 6px;
  width: 25px;
  background: #e92343;
  border-radius: 3px;
}
