.team-section {
  display: flex;
  height: 900px;
  background: #ffffff;
  align-items: center;
}

.team-section__container {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: space-between;
}

.team-section__images {
  display: flex;
  height: 100%;
  width: 500px;
}

.team-section__images--staff {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

.team-section__images--staff-img {
  display: flex;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.team-section__images--staff-img-1 {
  display: flex;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 8px #e92343;
}
.team-section__images--staff-avatar {
  display: flex;
  height: 100%;
  width: 100%;
}

.team-section__images--designer {
  display: flex;
  width: 70%;
  border-radius: 12px;
  overflow: hidden;
}

.team-section__images--designer-img {
  height: 100%;
}

.team-section__bio {
  display: flex;
  height: 100%;
  width: 360px;
  align-items: center;
}

.team-section__bio--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
}

.team-section__bio-name {
  display: flex;
  color: rgba(101, 101, 101, 1);
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.team-section__bio-line {
  display: flex;
  background: #e92343;
  height: 4px;
  width: 80px;
}

.team-section__bio-title {
  display: flex;
  color: rgba(101, 101, 101, 0.8);
  font-weight: 100;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}

.team-section__bio-info {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .team-section__container {
    flex-direction: column-reverse;
    align-items: center;
    height: unset;
  }

  .team-section__bio {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 640px) {
  .team-section {
    height: unset;
    padding: 26px 0;
  }

  .team-section__images {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .team-section__images--staff {
    width: 100%;
    flex-direction: row;
    padding-top: 20px;
    flex-wrap: wrap;
  }
}
